<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% block head %}{% endblock %}
</head>
<body>
	<section class="X">
		<div class="bg">
			<div>
				<i class="fa fa-shopping-basket icons" aria-hidden="true"></i>
				<i class="fa fa-thumbs-up icons" aria-hidden="true"></i>
				<i class="fa fa-heart icons" aria-hidden="true"></i>
				<i class="fa fa-leaf icons" aria-hidden="true"></i>
				<i class="fa fa-globe icons" aria-hidden="true"></i>
				<i class="fa fa-beer icons" aria-hidden="true"></i>
				<i class="fa fa-heartbeat icons" aria-hidden="true"></i>
				<i class="fa fa-birthday-cake icons" aria-hidden="true"></i>
				<i class="fa fa-cart-plus icons" aria-hidden="true"></i>
				<i class="fa fa-cart-arrow-down icons" aria-hidden="true"></i>
				<i class="fa fa-fire icons" aria-hidden="true"></i>
				<i class="fa fa-bed icons" aria-hidden="true"></i>
				<i class="fa fa-university icons" aria-hidden="true"></i>
				<i class="fa fa-shopping-bag icons" aria-hidden="true"></i>
				<i class="fa fa-bed icons" aria-hidden="true"></i>
				<i class="fa fa-bed icons" aria-hidden="true"></i>
				<i class="fa fa-bed icons" aria-hidden="true"></i>
				<i class="fa fa-bed icons" aria-hidden="true"></i>
			</div>
			<div>
				<i class="fa fa-shopping-basket" aria-hidden="true"></i>
				<i class="fa fa-thumbs-up" aria-hidden="true"></i>
				<i class="fa fa-heart" aria-hidden="true"></i>
				<i class="fa fa-leaf" aria-hidden="true"></i>
				<i class="fa fa-globe" aria-hidden="true"></i>
				<i class="fa fa-beer" aria-hidden="true"></i>
				<i class="fa fa-heartbeat" aria-hidden="true"></i>
				<i class="fa fa-birthday-cake" aria-hidden="true"></i>
				<i class="fa fa-cart-plus" aria-hidden="true"></i>
				<i class="fa fa-cart-arrow-down" aria-hidden="true"></i>
				<i class="fa fa-fire" aria-hidden="true"></i>
				<i class="fa fa-bed" aria-hidden="true"></i>
				<i class="fa fa-university" aria-hidden="true"></i>
				<i class="fa fa-shopping-bag" aria-hidden="true"></i>
				<i class="fa fa-bed" aria-hidden="true"></i>
				<i class="fa fa-bed" aria-hidden="true"></i>
				<i class="fa fa-bed" aria-hidden="true"></i>
				<i class="fa fa-bed" aria-hidden="true"></i>
			</div>
		</div>
	</section>
    <div class="container px-5">
        <main>
            {% block content %}
                {{ block.super }}
            {% endblock %}
        </main>
    </div>
    <footer class="footer">
  	 <div class="container">
  	 	<div class="row justify-content-center">
  	 		<div class="footer-col">
  	 			<h4>CSUN</h4>
  	 			<ul>
  	 				<li><a href="https://www.csun.edu/mic/foodpantry">Pantry Service</a></li>
  	 				<li><a href="https://calfreshcsun.youcanbook.me/">CalFresh</a></li>
  	 				<li><a href="https://www.csun.edu/heart/food">CSUN Heart</a></li>
  	 				<li><a href="https://www.instagram.com/csunfoodpantry/?hl=en">Pantry Instagram</a></li>
  	 			</ul>
  	 		</div>
  	 		<div class="footer-col">
  	 			<h4>Documentation</h4>
  	 			<ul>
  	 				<li><a href="../../static/links/SRS.pdf" download="System Requirement Specifications">Software Requirement Specifications</a></li>
  	 				<li><a href="../../static/links/UML.pdf" download="UML Diagrams">UML Diagrams</a></li>
  	 				<li><a href="../../static/links/Testing.pdf" download="Testing Plan">Testing Plan</a></li>
  	 				<li><a href="../../static/links/Cases.pdf" download="Use Cases">Use Cases</a></li>
  	 			</ul>
  	 		</div>
  	 		<div class="footer-col">
  	 			<h4>Follow Us</h4>
  	 			<div class="social-links">
  	 				<a href="https://github.com/1101011"><i class="fab fa-github"></i></a>
  	 				<a href="https://github.com/bmelgar364"><i class="fab fa-github"></i></a>
  	 				<a href="https://github.com/sheranmora"><i class="fab fa-github"></i></a>
  	 				<a href="https://github.com/esteban-maciel"><i class="fab fa-github"></i></a>
  	 			</div>
  	 		</div>
  	 	</div>
  	 </div>
  </footer>
</body>
</html>
